name: Hello World

on: workflow_dispatch

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Hello
        run: echo "Hello World"
  goodbye:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Goodbye
        run: echo "Goodbye World"
